.title {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;

  color: #000000;
}

table tr:last-child td,
table tr:last-child th {
  border-style: none;
}

.totals{
  line-height: 1;
}